<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="dm">
        <div class="hero-text">
            <h1>Rare Animal</h1>
            <p class="ptag">And I'm a Developer</p>
            <button onclick="location.href='/api'" class="hire-me">Join our team</button>
        </div>

    </div>
</body>

</html>