/* public/styles/style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-details {
  flex: 1;
}

.user-name {
  margin: 0;
}

.user-age {
  margin: 5px 0;
}

.delete-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #cc4125;
}

.edit-btn {
  background-color: #3e96e9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
}

.edit-btn:hover {
  background-color: #77ce6c;
}

.add-user-btn {
  background-color: #77ce6c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Banner */ /* The hero image */
.hero-image {
  height: auto;
  background-position: center; /* Position the image at the center */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire container with the image */
  height: 300px; /* Set a specific height for the banner */
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(221, 236, 8);
}

.dm {
  color: red;
  background-image: url("../images/think.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.ptag {
  color: #77ce6c;
}

.hire-me {
  background-color: #ca13c1;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
